*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(30,30,50,0.35);
    font-family: "Poppins", serif;
    background-image: url('https://images.unsplash.com/photo-1460751329354-07d91b47af38?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: bgZoom 20s ease infinite;
    @keyframes bgZoom{
    0%{
        background-size: 100%;
    }

    50%{
        background-size: 110%;
    }

    100%{
        background-size: 100%;
    }
}
}

.mainBox{
    height: 500px;
    width: 350px;

    border-radius: 20px;

    background: rgba(0,0,0,0.28);

    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);

    border: 1px solid rgba(255,255,255,0.12);

    box-shadow:
        0 8px 32px rgba(0,0,0,0.45),
        inset 0 0 1px rgba(255,255,255,0.15);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;

    transition: 0.3s ease;
}
.mainBox{
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(30px) scale(0.95);
    }

    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


.mainBox:hover{
    transform: translateY(-5px);
    
    transform: translateY(-5px);

    box-shadow:
        0 10px 40px rgba(255,255,255,0.08),
        0 8px 32px rgba(0,0,0,0.5);
}


.weather{
    font-size: 50px;
    font-weight: 500;
    line-height: 20px;

}
.ForeCasts{
   font-size: 50px;
   font-weight: 300;
   color: #DDB130;
}

.start,.homeBtn{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: #DDB130;
    color: black;
    border: none;
    outline: none;
}
.start:hover,.homeBtn:hover{
    background: #f4c842;
    transform: scale(1.02);
    transform-origin: all 0.1s ease-in-out;

}

.searchBox{
    height: 45px;
    width: 280px;

    background: rgba(255,255,255,0.08);

    border: 1px solid rgba(255,255,255,0.12);

    backdrop-filter: blur(10px);

    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBox input{
    width: 230px;
    height: 45px;

    background: transparent;
    color: white;

    border: none;
    outline: none;

    padding-left: 10px;
}

.searchBox input::placeholder{
    color: rgba(255,255,255,0.6);
}

.img{
    display:  flex;
    align-items: center;
}

.img img{
    filter: invert(1);
}
.img img:hover{
    transform: rotate(15deg) scale(1.1);
}
.iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.iconBox img{
    width: 180px;
}

.tempBox{
    height: 100px;
    width: 280px;
    text-align: center;
}

#temp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 500;
}
#city{
    color: white;
}
#icon{
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-12px);
    }

    100%{
        transform: translateY(0px);
    }
}

.extraDetails{
    height: 100px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wind,.humidity{
    display: flex;
    align-items: center;
}

#windIcon,#humidityIcon{
    width: 50px;
    margin-right: 5px;
}

#windSpeed,#humidityper{
    font-weight: bold;
}

#info{
    font-size: 11px;
    margin-bottom: 5px;
}

.inactive{
    display: none;
}